// COLORCUBE
$white:#ffffff;
$black:#030303;
$tundora:#434343;
$suva-grey:#868586;
$saffron:#f3b329;
$pumice:#bec6be;
$blue-lagon:#027986;
$corn-harvest:#936c0f;
$fountain-blue:#51bfc7;
$crimson:#d61a2a;

// MEDIAN CUT
$dawn-pink: #FEF7E9;
$cod-gray: #1d1c1a;
$pewter: #96a4a3;
$sand-dunk: #7c6e69;
$oslo-gray: #86888e;

// MATERIAL DESIGN
$btn-green:#3da698;
$btn-orange:#e1aa40;


// FONTS
$cursive:"Marck Script", cursive;
$serif:"Playfair Display", serif;
$sans-serif:"Roboto", sans-serif;