// PALETTE
@use './partials/variabiles' as *;


// BOOTSTRAP
@import 'node_modules/bootstrap/scss/bootstrap.scss';

// FONT SANS SERIF
@import 'node_modules/@fontsource/roboto/index.css';
@import 'node_modules/@fontsource/roboto/300.css';
@import 'node_modules/@fontsource/roboto/500.css';
@import 'node_modules/@fontsource/roboto/700.css';

// FONT CURSIVE
@import 'node_modules/@fontsource/mark-script/index.css';


// FONT SERIF
@import 'node_modules/@fontsource/playfair-display/index.css';
@import 'node_modules/@fontsource/playfair-display/600.css';


// GENERALS
.ft-container{
    max-width: 1350px;
    margin: 0 auto;
}

h1{
    font-family: $cursive;
    font-size: 3rem;
}

h2{
    font-family: $serif;
    font-weight: 600;
}

h3,p{
    font-family: $sans-serif;
    font-weight: 300;
}

// BUTTONS
.btn-green,
.btn-orange{
    font-family: $sans-serif;
    color: white;
    padding: 10px 30px;
    border-radius: 8px;
    font-weight: 400;
    &:hover{
        cursor: pointer;
        background-image: linear-gradient(rgba(0, 0, 0, 0.280) 0 0);
    }
}
.btn-orange{
    background-color: $btn-orange;
}
.btn-green{
    background-color: $btn-green;
}